[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sparkpost = "*"
python-dotenv = "*"
pathlib = "*"
pysimplegui = "*"
requests = "*"
feedparser = "*"

[dev-packages]

[requires]
python_version = "3.10"
